@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #0e0c0f;
  color: #b0a190;
  font-family: 'PT Serif', serif;
}
body {
  margin: 0;
  padding: 10px;
  text-align: center;
}
img {
  margin: auto;
  display: block;
  width: auto;
  max-height: 500px;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
img + p {
  margin-bottom: 25vh;
}
h1, h2, h3, p {
  text-align: center;
}
h2 {
  font-size: 1.4em;
}
img.third {
  display: inline-block;
  width: 33%;
}
p.written {
  text-align: left;
  font-size: 0.9em;
  line-height: calc(1ex / 0.32);
  margin-bottom: 20px;
  max-width: 100%;
}
p.quote {
  text-align: left;
  width: 60ch;
  font-size: 0.9em;
  line-height: calc(1ex / 0.32);
  margin: auto;
  text-indent: 18px;
  margin-bottom: 20px;
  max-width: 100%;
}
p.author {
  font-size: 0.8em;
}
li {
  margin-bottom: 10px;
}
a, a:visited {
  color: #d33682;
}
.toc {
  text-align: left;
}