/*
  Use this file for common CSS styles.
  Otherwise you can put them directly in the HTML files.
*/
pre {
  font-family: monospace;
}
div {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.clicked {
  cursor: not-allowed;
}